@import url('variaveis.css');

body {
  background: #fff;
  color: var(--corAzul);
}
main{
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.288);
  border-radius: 1em;
  margin: 2% 15%;
}

.imagem {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* CONTAINER */
.container {
  padding: 3%;
  text-align: center;
}

.container h1 {
  color: var(--corAzul);
  margin-bottom: 40px;
}

/* GRID DE CARDS */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  justify-items: center;
}

.card {
  position: relative;
  z-index: 1;
  transition: 0.3s;

  width: 250px;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.img-placeholder {
  height: 160px;
  background: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
}

.card-content {
  background: var(--corAzul);
  color: #fff;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-content h3 {
  margin-bottom: 8px;
  font-size: 1.1rem;
}

.card-content p {
  font-size: 0.85rem;
  margin-bottom: 16px;
}

#apoio-mulheres{
  object-position: 100% 30%;  
}

#desenvolvimento{
  object-position: 100% 0%;  
}

#tecnologia{
  object-position: 100% 100%; 
}

.versite {
  background: #fff;
  color: var(--corAzul);
  border: 1px solid var(--corAzul);
  border-radius: 6px;
  padding: 3% 30%;
  font-weight: 600;
  cursor: pointer;
}

.versite:hover {
  transition: 500ms;
  color: var(--corBranco);
  background: var(--corAzul);
  border: 1px solid var(--corBranco);
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .navbar {
    gap: 20px;
  }

  .card {
    width: 90%;
  }

  .container h1 {
    font-size: 1.5rem;
    padding: 10% 3%;
  }

  .img-placeholder {
    height: 160px;
    background: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
  }
}