@import url('variaveis.css');

h1{
    color: green;
}

#main-dashboard{
    display: block;
}

.foto-nome{
    display: flex;
}

.nome-email{
    display: flex;
}

.perfil{ 
    margin-top: 40px;
    max-width: 70%;
    min-width: 720px;
    
    border: 1px solid black;
    border-radius: 10px;
}

#imagem-usuario{
    border-radius: 50%;
    border: 3px solid var(--corAzul);

    width: 3rem;
    margin: 1rem;
}

#nome-usuario{
    display: block;
    align-content: center;
}

.dados-perfil{
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    
    padding: 2.5rem;
    padding-top: 2rem;
}

.teste{
    margin: auto;
    margin-top: 2rem;
    text-align: center;
}

.teste button{
    margin-top: 1rem;
}
