.topbar {
    display: none;
}

/* #instagram-section{
    background: var(--corInstagram);
} 

#btn-instagram{
  margin-top: 2rem;

  border: 2px solid var(--corBranco);
  background: var(--corInstagram);
  color: var(--corBranco);
}

#btn-instagram:hover{
  border: 2px solid var(--corInstagram);
  background: var(--corBranco);
  color: var(--corInstagram);
}*/

#instagram-container-img{
    width: 50%;
    height: 100%;
    background-color: transparent;
    line-height: 0;
    flex: 1;
    max-height: 500px;
    overflow: hidden;
}

.container-img{
    width: 50%;
}