@import url('variaveis.css');

main {
    padding: 40px 5%;
    text-align: center;
    font-family: var(--fonteInter);
}

h1{
    color: var(--corAzul);
    padding-bottom: 5%;
}

h2{
    color: var(--corAzul);
    font-size: 1.3em;
    padding-bottom: 1em;
}

p{
    font-size: 1.3em;
    padding-bottom: 1em;
}

hr{
    margin: 10px 0px;
}

.botao{
    min-width: 100%;
    
    padding: 2% 0px;
    margin: 5% 0px;
    font-size: 1.3em;

    color: var(--corBranco);
    background-color: var(--corAzul);
    border: 1px solid var(--corAzul);
    border-radius: 5px;
}

.botao:hover{
    cursor: pointer;
    transition: 500ms;
    color: var(--corAzul);
    background-color: var(--corBranco);
}

.lista{
    padding: 2%;
}

.card-ong{
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.container{
    text-align: justify;
      /* Deslocamento Z */
        z-index: 1;
}

@media (min-width: 768px) {
    h1{
        font-size: 2.1em;
        padding-bottom: 0%;
    }

    h2{
        font-size: 1.8em;
    }

    p{
        font-size: 1.5em;
    }

    .botao{
        min-width: 20%;
        padding: 0.5% 5%;
        margin: 1% auto;
    }

}