@import url('variaveis.css');

body {
  background: #fff;
}

main{
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.288);
  border-radius: 1em;
  margin: 2% 15%;
}

.imagem {
  width: 100%;
  height: 100%;
}

/* SECTION BASE */
.section {
  display: flex;
  justify-content: space-between;
  padding: 1% 7%;
  flex-wrap: wrap;
  align-items: stretch;
}

.section:nth-child(even) {
  background: white;
}  
.sub-titulo {
  display: flex;
  padding: 10px;
  margin: 0 auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

.pilares{
  display: flex;
  margin-top: 10%;
  margin-bottom: 10%;

  gap: 3%;
}

.item{
  width: 33%;
}

.item h2{
  margin-bottom: 5%;
}

hr{
  border-top: 1px solid var(--corCinzaEscuro);
}

h2{
  font-size: 1.7em;
  color: var(--corAzul);
  text-align: center;
  justify-content: center;
}

p{
  font-size: 1.3em;
  color: var(--corPreto);
  text-align: justify;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .navbar {
    gap: 20px;
  }
}