@import url('variaveis.css');

body {
  background: #fff;
}
.imagem {
  width: 100%;
  height: 100%;
}

/* SECTION BASE */
.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  flex-wrap: wrap;
  align-items: stretch;
  text-align: center;
}

.section:nth-child(even) {
  background: white;
}  
.sub-titulo {
  display: flex;
  padding: 10px;
  margin: 0 auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

.tres{
  display: flex;
  margin-top: 5%;
  margin-bottom: 3%;

  gap: 5%;
}

.item{
  width: 33%;
}

.item h2{
  margin-bottom: 10%;
}

h2{
  font-size: 2em;
  color: var(--corAzul);
}

p{
  font-size: 1.5em;
  color: var(--corPreto);
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .navbar {
    gap: 20px;
  }
}