@import url('variaveis.css');

/* --------------------- HEADER --------------------- */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--corAzul);
  padding: 10px 150px;
  position: sticky;
  z-index: 999999;
}

.header-left, .header-left a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
  text-decoration: none;
}

.logo {
  width: 70px;
  height: 70px;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 40%;
  background: var(--corBranco);
  border-radius: 10px;
  overflow: hidden;
}

.search-bar input {
  flex: 1;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
}

.search-bar button {
  background: var(--corBranco);
  border: none;
  border-left: 3px solid var(--corAzul);
  padding: 8px 15px;
  cursor: pointer;
}

.user-icon{
  margin-left: 10em;
  border: 3px solid var(--corAzul);
  border-radius: 50%;
  transition: 500ms;
}

.user-icon img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--corCinzaClaro);
  display: flex;
}

.user-icon img:hover {
  border-color: var(--corAzulClaro);
}

/* --------------------- NAVBAR --------------------- */
.navbar {
  display: flex;
  justify-content: center;
  gap: 40px;
  background: #f6f6f6;
  padding: 12px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.288);
  position: sticky;
  top: 0;
}

.navbar a {
  text-decoration: none;
  color: var(--corAzul);
  font-weight: 600;
}

.navbar a:hover {
  text-decoration: underline 1.5px;
}

/* --------------------- MAIN --------------------- */
main {
  display: flex;
  flex-wrap: wrap;
  gap: 4em;
  justify-content: center;
  align-items: center;
}

/* --------------------- HERO --------------------- */
.hero {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}

.banner img {
  padding-top: 5%;
  width: 100%;
  display: block;
}

.container-img {
  width: 50%;
  background-color: transparent; /* ou remova totalmente */
}

.imagem {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* --------------------- SECTIONS --------------------- */
.section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  text-align: center;
  margin: 0 15%;
  border-radius: 1em;

  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.blue-section, .blue-section .text-box, .alt-section, .alt-section img{
    overflow: hidden;
  
}



.text-box {
  flex: 1;
  background: var(--corAzul);
  color: var(--corBranco);
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10%;
  align-items: center;
}

.text-box ul {
  list-style: circle;
  margin: 10% 0;
  text-align: left;
}
.text-box li {
  margin-bottom: 5%;
  font-size: 1.3em;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 2rem;
  font-size: 1.2em;
}

.text h2 {
  margin: 5% 0 8%;
  font-size: 1.8em;
}

.text p {
  text-align: justify;
  padding: 0 2%;
  font-size: 1.2em;
}

/* --------------------- BOTÕES --------------------- */
.btn {
  background: var(--corBranco);
  color: var(--corAzul);
  border: 1px solid var(--corAzul);
  border-radius: 6px;
  font-size: 1.1em;
  cursor: pointer;
  max-width: fit-content;
  margin-bottom: 1.5em;
}

#btn-vermais {
  padding: 10px 60px;
  font-size: 1em;
}

.blue-section .btn,
.alt-section .btn {
  font-size: 1.5em;
  padding: 2% 10%;
  transition: .5s;
}

.blue-section .btn:hover {
  background: var(--corAzul);
  color: var(--corBranco);
  border-color: var(--corBranco);
}

.alt-section .btn {
  background: var(--corAzul);
  color: var(--corBranco);
  border: 1px solid var(--corBranco);
}
.alt-section .btn:hover {
  background: var(--corBranco);
  color: var(--corAzul);
}

/* --------------------- RESPONSIVO --------------------- */
@media (max-width: 850px) {
  .section {
    flex-direction: column;
  }

  .search-bar {
    width: 60%;
  }

  .navbar {
    flex-wrap: wrap;
    gap: 20px;
  }

  .container-img {
    height: 100%;


    overflow: hidden;
  }
}

@media (max-width: 700px) {  
  .navbar {
    gap: 20px;
  }

  main{
    gap: 10em;
  }

  .hero {
    height: 9em;
  }

  .container-img, .imagem{
    width: 100%;
  }
  
  .container-img{
    background-color: aqua;
  }

  .section{
    margin: 0%;
    padding: 0;
  }

  section.text-box{
    padding: 0%;
    font-size: 1.5em;
  }

  .blue-section, .alt-section{
    border-radius: 0px;
  }

  .card {
    width: 90%;
  }

  .container h1 {
    font-size: 1.5rem;
  } 
}
