@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    /* Cores Prédefinidas */
    --corAzul: #0F5A93;
    --corAzulClaro: #a0cbdf;
    --corBranco: #ffffff;
    --corCinzaClaro: #f8f8f8;
    --corCinzaEscuro: #616161;
    --corPreto: #000;

    /* Tipografia */
    --fonteInter: 'Inter', sans-serif;
}

*{
    /* Dimensionamento Padrão Global */
    margin: 0;
    padding: 0;

    /* Fonte */
    font-family: var(--fonteInter);
}